name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - uses: snok/install-poetry@v1
        with:
          version: latest

      - run: poetry install --no-root

      - name: Lint with Pylint
        run: poetry run pylint src --exit-zero

      - name: Run tests and coverage
        run: |
          poetry run coverage run -m pytest
          poetry run coverage report -m
